html,
body {
  margin: 0;
  padding: 0;
  background: #fdf6e3;
  font-family: system-ui, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
